#
# exclude directories explicitly
#
/build-generic-pc
/build_tmp
/cross
/deps
/download
/host
/internal
/local
/root
/source
/staging
/static
#
# exclude files explicitly
#
/config.local
/Makefile.local
#
# exclude filemasks
#
*~
.ignore
