#
# exclude directories explicitly
#
/.log
/build-generic-pc
/build_tmp
/cross*
/deps
/download
/host
/internal
/local
/package/oscam*
/root
/source
/staging
#
# exclude files explicitly
#
/config.local
/Makefile.local
#
# exclude filemasks
#
*~
.ignore
nohup.out
