#
# Local config file
#
# -----------------------------------------------------------------------------

# Change it to your name.
#MAINTAINER = NI-Team

# Choose one (1) of the following BOXMODELs. O n e !
# Coolstream
#BOXMODEL = nevis
#BOXMODEL = apollo
#BOXMODEL = shiner
#BOXMODEL = kronos
#BOXMODEL = kronos_v2

# AX/Mutant
#BOXMODEL = hd51

# WWIO
#BOXMODEL = bre2ze4k

# Neutrino API keys
#N_OMDB_API_KEY =
#N_SHOUTCAST_DEV_KEY =
#N_TMDB_DEV_KEY =
#N_YOUTUBE_DEV_KEY =
#N_WEATHER_DEV_KEY =

# Create debug-image. Not useful in real life.
#DEBUG = yes

# NI administrator mode. Do not touch!
#NI_ADMIN = true
