# config.local

# Change it to your name.
#MAINTAINER = NI-Team

# Choose one (1) of the following BOXMODELs. O n e !
# Coolstream
#BOXMODEL = nevis
#BOXMODEL = apollo
#BOXMODEL = shiner
#BOXMODEL = kronos
#BOXMODEL = kronos_v2

# AX Technologies
#BOXMODEL = hd51

# Create debug-image. Not useful in real life.
#DEBUG = yes

# NI DEV-mode. Do not touch!
#NI_ADMIN = true
